### Utility functions for taking input of samples

In [1]:
def input_data(n=None, dtype=float):
    data = []
    i = 0
    while True:
        if i==n: return data
        inp = input(f'Enter element {i+1}: ')
        if not inp and n is None: return data
        data.append(dtype(inp))
        i += 1

def input_table(r=None, c=None, dtype=float, ragged=False):
    print('Row 1:')
    row1 = input_data(c, dtype=dtype)
    table = [row1]
    c_new = c if ragged else len(row1)
    while True:
        try:
            if len(table)==r: return table
            print(f'Row {len(table)+1}:')
            row = input_data(c_new, dtype=dtype)
            if not row and r is None: return table
            table.append(row)
        except ValueError as e:
            if r is c is None: return table
            else: raise e

## 3a: Write a program to implement testing of hypothesis using analysis of variance for one factor.

In [3]:
from scipy.stats import f_oneway

groups = input_table(ragged=True)
results = f_oneway(*groups)

Row 1:
Row 2:
Row 3:
Row 4:

In [6]:
print(*groups, sep='\n')
results

[3.0, 2.0, 6.0, 5.0, 4.0, 7.0, 6.0, 5.0]
[2.0, 3.0, 5.0]
[4.0, 7.0, 6.0, 5.0, 78.0]

F_onewayResult(statistic=1.2969297382405036, pvalue=0.3065019798726699)

## 3b: Write a program to implement testing of hypothesis using analysis of variance for two factors.

In [12]:
import statsmodels.api as sm

#define the dataframe
df = {'gender': ['male', 'male', 'male', 'female', 'female', 'female'],
      'dosage': ['low', 'medium', 'high', 'low', 'medium', 'high'],
      'performance': [35.6, 49.4, 71.8, 55.2, 92.2, 110.0]}

#define the formula string in the following format
#depvar ~ indepvar1+indepvar2 ...+indepvarn
fitted_model = sm.formula.ols('performance ~ gender+dosage', data=df).fit()

results = sm.stats.anova_lm(fitted_model) #ANOVA table

In [13]:
print(df)
results

   gender  dosage  performance
0    male     low         35.6
1    male  medium         49.4
2    male    high         71.8
3  female     low         55.2
4  female  medium         92.2
5  female    high        110.0

           df       sum_sq      mean_sq          F    PR(>F)
gender    1.0  1686.726667  1686.726667  22.356543  0.041936
dosage    2.0  2079.613333  1039.806667  13.782009  0.067650
Residual  2.0   150.893333    75.446667        NaN       NaN

## 3c: Write a program to implement testing of hypothesis using analysis of variance for two factors with replication.

In [16]:
import statsmodels.api as sm

#define the dataframe
df = {'detergent': ['X']*15 + ['Y']*15,
      'temperature': ['cold', 'warm', 'hot']*10,
      'performance': [4, 7, 10, 5, 8, 11, 5, 9, 12, 6, 12, 19, 5, 3, 15,
                      4, 12, 10, 4, 12, 12, 6, 13, 13, 6, 15, 13, 5, 13, 12]}

#define the formula string in the following format
#depvar ~ indepvar1*indepvar2 ...*indepvarn
fitted_model = sm.formula.ols('performance ~ detergent*temperature', data=df).fit()

results = sm.stats.anova_lm(fitted_model) #ANOVA table

In [17]:
print(df)
results

   detergent temperature  performance
0          X        cold            4
1          X        warm            7
2          X         hot           10
3          X        cold            5
4          X        warm            8
5          X         hot           11
6          X        cold            5
7          X        warm            9
8          X         hot           12
9          X        cold            6
10         X        warm           12
11         X         hot           19
12         X        cold            5
13         X        warm            3
14         X         hot           15
15         Y        cold            4
16         Y        warm           12
17         Y         hot           10
18         Y        cold            4
19         Y        warm           12
20         Y         hot           12
21         Y        cold            6
22         Y        warm           13
23         Y         hot           13
24         Y        cold            6
25         Y        warm           15
26         Y         hot           13
27         Y        cold            5
28         Y        warm           13
29         Y         hot           12

                         df      sum_sq     mean_sq          F        PR(>F)
detergent               1.0   12.033333   12.033333   2.533333  1.245517e-01
temperature             2.0  312.466667  156.233333  32.891228  1.331181e-07
detergent:temperature   2.0   60.466667   30.233333   6.364912  6.057712e-03
Residual               24.0  114.000000    4.750000        NaN           NaN